<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="header-card">
        <h2>Log In</h2>
      </div>
      <div class="body-card">
        <form action="/auth/login" method="POST">
          <label for="username">Username:</label>
          <input type="text" class="form-control" name="username" id="username" placeholder="Your username" required>
          <label for="password">Password:</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Your password" required>
          <button type="submit" class="btn btn-warning" style="margin-top: 10px;">Log In</button><br/>
          <a class="login-signup" href="/auth/signup">Registrate ahora si aún no lo has hecho</a>
          {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
          {{/if}}
        </form>
        {{#if byeMessage}}
          {{byeMessage}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
