<div id="form">
  <h2>Sign Up</h2>
  <form action="/auth/signup" method="POST">
  
    <label> Nombre
      <input type="text" name="name" placeholder="Tu Nombre y Apellido" />
    </label>

    <label> Username
      <input type="text" name="username" placeholder="Username" />
    </label>

    <label> Email
      <input type="email" name="email" placeholder="email" />
    </label>
    <label for="floatingPassword">Elige tu Password</label>
      <input
      type="password"
      class="form-control"
      id="floatingPassword"
      placeholder="Password"
      name="password"
    />
    <label for="floatingRepeatPassword">Repite tu Password</label>
    <input
      type="password"
      class="form-control"
      id="floatingRepeatPassword"
      placeholder="Password"
      name="passwordRepeat"
    />


  
    <button type="submit">Sign Up</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>