<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{appTitle}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-image: url(../images/haha.jpg) !important;
      padding: 50px;
      font-size: 1.2rem!important;
    }
    a {
      color: #00b7ff;
      text-decoration: none;
    }
    a:hover {
      color: #00b7ff;
      text-decoration: none;
    }
    h1, h2 {
      font-weight: bold;
      margin-top: 50px;
      font-size: 3rem;
    }
    .nav-link {
      text-align: right;
      color: #101010;
    }
    .bar-left {
      display: flex;
      align-items: center;
      margin-left: 30px;
    }
    .bar-right {
      display: flex;
      align-items: center;
    }
    .bar-right p {
      background-color: #101010;
      border-radius: 5px;
      padding: 5px 15px;
      color: #ffffff;
      margin-right: 30px;
    }
    #log-status {
      margin-top: 50px;
      padding-top: 50px;
    }
    .error {
      color: #a91111;
      font-size: 18px;
    }
    #titulo-vista {
      text-align: center;
      padding: 30px 30px;
      font-size: 60px;
    }
    .navbar {
      background-color: rgba(111, 5, 5, 0.8);
      border-radius: 10px;
    }
    .navbar a {
      color: white;
    }
    .navbar a:hover {
      color: #ffd504;
    }
    .header-card {
      padding: 15px;
      background-color: rgba(240, 174, 31, 0.8);
      border-radius: 10px;
      margin-bottom: 5px;
    }
    .body-card {
      padding: 15px;
      background-color: rgba(244, 244, 242, 0.9);
      border-radius: 10px;
    }
    .list-group-item {
      background-color: rgba(255, 255, 255, 0);
      border-radius: 10px;
    }
    @media (max-width: 750px) {
      .navbar-collapse {
        background-color: red;
        border-radius: 10px;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
      }
      .navbar-toggler {
        display: block;
      }
      .navbar-toggler-icon {
        background-color: white;
      }
      .navbar-toggler:focus + .navbar-collapse,
      .navbar-collapse:focus-within {
        display: block;
      }
    }
  </style>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-danger rounded">
    <div class="container">
      <a class="navbar-brand" href="/">Inicio</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      {{#if user}}
        {{#if user.isAdmin}}
          <a class="btn btn-light text-dark" href="/admin/admin-dashboard">Admin Dashboard</a>
        {{/if}}
        <a class="btn btn-light text-dark" href="/jokes/create-joke">Publica un Chiste</a>
        <a class="btn btn-light text-dark" href="/jokes/jokes-list">Chistes Publicados</a>
        <a class="btn btn-warning text-dark" href="/auth/logout">Cerrar Sesión</a>
      {{else}}
        <a class="btn btn-light text-dark" href="/jokes/jokes-list">Chistes Publicados</a>
        <a class="btn btn-warning text-dark" href="/auth/signup">Regístrate</a>
        <a class="btn btn-warning text-dark" href="/auth/login">Login</a>
      {{/if}}
    </ul>
  </div>
  
  <div class="container mt-5">
    {{{body}}}
  </div>
  
  <script src="/js/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
