<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-danger">Error!</h1>
      <h2>There was an error on the server! Check the console!</h2>
    </div>
  </div>
</div>
