<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="header-card">
        <h2>Bienvenido a la Página de Inicio<br/> {{user.name}}</h2>
      </div>
      <div class="body-card">
        <p>¡Bienvenido a nuestra plataforma de chistes! Aquí podrás leer y compartir chistes divertidos.</p>
        {{#if user}}
          <p>Hola, <strong>{{user.username}}</strong>. ¡Disfruta explorando y publicando chistes!</p>
          <div class="avatar3" style="background-image: url({{ user.avatarPath }})" alt="Avatar"></div>
          <a href="/users/profile" class="btn btn-dark text-warning btn-md">Ve a tu perfil</a>
          {{#if user.isAdmin}}
            <a href="/admin/admin-dashboard" class="btn btn-dark text-warning btn-md">Admin Dashboard</a>
          {{/if}}
          <a href="/auth/logout" class="btn btn-danger btn-md" onclick="confirmCloseSession()">Cerrar Sesión</a>
        {{else}}
          <p>Para disfrutar de todos los chistes y funciones, inicia sesión o regístrate.</p>
          <a href="/auth/login" class="btn btn-dark text-warning btn-md" onclick="confirmCloseSession()">Login</a>
          <a href="/auth/signup" class="btn btn-dark text-warning btn-md">Regístrate</a>
          <a href="/jokes/jokes-list" class="btn btn-dark text-warning btn-md">Chistes Publicados</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>
