<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header class="header-bar">
    <div class="bar-left" >
      
          <a  href="/">Inicio</a>
          {{#if user}}
          <a  href="/jokes/chiste-random">Chiste Random</a>
          <a  href="/jokes/create-joke">Publica un Chiste</a>
          <a  href="/jokes/jokes-list">Chistes Publicados</a>
          {{/if}}

    </div>
    <div class="bar-right">
    {{#if user}}
      <!-- Mostrar botones cuando la sesión está abierta -->
      <p id="log-status " > {{user.name }}  is Logged in</p>
      <a href="/auth/logout">Cierra Sesión</a>
    {{else}}
      <!-- Mostrar botones cuando la sesión está cerrada -->
      <a href="/auth/signup">Registrate</a>
      <a href="/auth/login">Login</a>
    {{/if}}
  </div>
    </header>
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>