<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-danger">404 Error</h1>
      <h2>This route does not exist on the app! Check if everything is ok! Check your routes to see what might have happened</h2>
    </div>
  </div>
</div>
