<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="header-card">
        <h2>Chiste Aleatorio</h2>
      </div>
      <div class="body-card">
        <h1>Chiste:</h1>
        <p>{{ chiste }}</p>
      </div>
    </div>
  </div>
</div>
