{{! posts/list.hbs }}

<h2>Chistes Publicados</h2>

<ul>
  {{#each jokes}}
    <div>
      CHISTE<br/>
      {{this.content}}<br/>
      <a href="/jokes/{{this._id}}">Comentar</a>
    </div>

    <div>
      AUTOR<br/>
      Usuario: {{this.author.username}}<br/>
      Nombre: {{this.author.name}}
    </div><br/>
  {{/each}}
</ul>
